* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.nav-container {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  background-color: #4a4d4d;
}
.navbar {
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}
.navbar img {
  width: 120px;
  height: 120px;
  color: #fff;
}
.navbar ul {
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;
}
.navbar ul li {
  margin-left: 80px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}
.btn-primary {
  height: 40px;
  padding: 5px 10px;
  background: transparent;
  border-color: #fff;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
}
.navbar ul li a:hover {
  border-bottom: 3px solid #fff;
  /* transform: scale(1.1); */
  transition: all 0.3s ease-in-out;
}
